.main-container-register { 
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/57/a1/f9/57a1f9d10583c305da7d768f2f3e92ec.jpg");
    background-size: cover;
}