
* { 
    box-sizing: border-box;
}

body, p{
    margin: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
  }

.about {
    position: relative;
    top: -30px;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background-image: url("../../img/about-page-img.png");
    background-size: cover; 
    background-position: center;
}

.about .about-text-box {
    width: 100%;
}
.about .about-text-box h1 {
    padding-top: 220px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
    margin-left: 73px;
}

.about .about-text-box p{
    padding-top: 8px;
    font-family: Open Sans;
    font-size: 18px;
    color: #ffffff;
    margin-left: 73px;
}

.button-position { 
    display:flex;
    align-content: center;
    margin-left: 73px;
    margin-top: 27px;
    width: 15%;
    height: 10%
}


.button-about {
    background-color: #ff8e6e;
    font-family: Montserrat;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
}

.team {
    background-color: #ffffff;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    margin-top: -2px;
}

.team .team-text-box { 
    width: 100%;
}

.team .team-text-box h1 {
    padding-top: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #515070;
    margin-left: 73px;
}

.team .team-text-box p{
    padding-top: 8px;
    font-family: Open Sans;
    font-size: 18px;
    color: #515070;
    margin-left: 73px;
}

.team .team-cards {
    display: flex;
    justify-content: flex-start;
}

.team .team-cards .team-avatar {
    display: inline;
    justify-content: flex-start;
    padding: 21px;
    margin-left: 39px;
}


.team .team-cards .team-avatar .img-avatar:hover {
   -webkit-filter: opacity(0.7)  drop-shadow(0 0 0 #515070);
   filter: opacity(0.7) drop-shadow(0 0 0 #515070);
} 


.avatar-text { 
    position: relative;
    bottom: 122px;
    left: 12px;
    display: none;

}

.img-avatar:hover ~ .avatar-text {
   display: block;
}

.avatar-text span { 
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.avatar-text p { 
    font-family: Open Sans;
    font-size: 14px;
    color: #ffffff;
}

.mis-vis-val { 
    background-color: #f6f6f6;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
}

.mis-vis-val .text-cards {
    display: flex;
    padding-top: 123px;
    justify-content: space-between;
    align-items: center;
}


.mis-vis-val .text-cards .card { 
    display:flex;
    align-items: center;
    padding-left: 49px;
}

.mis-vis-val .text-cards .card img {
    margin-right: 26px;
    margin-bottom: 46px;
}

.mis-vis-val .text-cards .card .card-tex h1 { 
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    color: #515070;
    margin-bottom: 49px;
}

.mis-vis-val .text-cards .card .card-tex .text-p { 
    margin-top: 10px;
    margin-left: 73px;
}

.mis-vis-val .text-cards .card .card-tex p { 
    font-family: Open Sans;
    font-size: 14px;
    color: #898989;
    margin-left:-151px;
}




    @media screen and (max-width: 800px) {
        
     .about {

         background-image: url("/assets/img/about-page-img.png")
        }
     .button-position { 
         position: relative;
         display:flex;
        align-content: center;
         margin-left: 10px;
          margin-top: 16px;
             width: 39%;
        }
             
        .button-about {
         background-color: #515070;
         width: auto;
         }
    
         .about .about-text-box h1 {
          margin-left: 18px;
             font-size: 38px;
         }
             
         .about .about-text-box p  {
             margin-left: 21px;
             font-size: 18px;
         }
             
         .team .team-cards { 
            display: flex;
            flex-direction: column;
         }

         .mis-vis-val .text-cards {
             display: flex;
             flex-direction: column;
         }
    }
    

